@import url(https://fonts.googleapis.com/css?family=Nunito);

.landing-wrapper {
  position: absolute;
  width: 80%;
  height: 40%;
  top: 50%;
  left: 50%;
  margin: -20% 0 0 -40%;
  text-align: center;

  @media (max-width: 679px) {
    top: 25%;
  }

}

#header-logo-image {
  max-width: 100px;
}

.landing-header {
  h1 {
    font-size: 5em;
    color: #fff;
    font-family: Nunito, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.025em;

    @media (max-width: 472px) {
      font-size: 3em;
    }

  }

  h2 {
    font-size: 1.5em;
    color: #fff;
    font-family: Nunito, sans-serif;
    font-weight: 300;
    letter-spacing: -0.025em;
    width: 100%;

    @media (max-width: 472px) {
      font-size: 1em;
    }
  }
}
