@mixin link-color() {
  a:link {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  a:hover {
    color: inherit;
  }
}


.contact-logos {
  position: fixed;
  bottom: 0;
  left: .5em;
}

.contact-info {
  display: inline-block;
  position: absolute;
  bottom: 1em;
  right: 1em;

  @include link-color(); 

  .fa {
    color: white;
  }

  .fa:hover {
    color: black;
  }

  #contact-info-github {
    padding-right: 1em;
  }
}
