.contact-info {
  display: inline-block;
    position: absolute;
    bottom: 1em;
    right: 1em;

    a:link {
      color: inherit;
    }

    a:visited {
      color: inherit;
    }

    a:hover {
      color: inherit;
    }

    .fa {
      color: white;
    }

    .fa:hover {
      color: black;
    }

    #contact-info-github {
      padding-right: 1em;
    }
}
