/***************
*****Header*****
****************/
.header-wrapper {
    margin: 0 auto;
    height: 100vh;
    text-align: center;
}

#header-logo-image {
    max-width: 100px;
    margin-top: -5em;
}

.header-text {
    width: 800px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -400px;
    text-align: center;

    h1 {
        font-size: 5em;
        color: #fff;
        font-family: Nunito, Helvetica, sans-serif;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.025em;
    }

    h2 {
        font-size: 1.5em;
        color: #fff;
        font-family: Nunito, Helvetica, sans-serif;
        font-weight: 300;
        line-height: 5;
        letter-spacing: -0.025em;
        width: 100%;
    }
}
