/***************
*******Nav******
****************/

.nav-inner {
    margin: 0 auto;
}

#nav {
    text-align: center;
}

#nav li {
    list-style: none;
    display: inline-block;
}

#nav a {
    color: #fff;
    display: block;
    font-family: Nunito;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 9px 18px 9px;
    text-decoration: none;
}

#nav a:hover {
    background-color: #fff;
    color: #5050A0;
    border-radius: 10px;
}
