/***************
*****Resets*****
****************/
body,
html {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 0; }

body {
  background-color: #5050A0; }

.main-container-wrapper {
  -webkit-animation: MainContainerWrapperAnimation 60s ease infinite;
  -moz-animation: MainContainerWrapperAnimation 60s ease infinite;
  animation: MainContainerWrapperAnimation 60s ease infinite;
  background: linear-gradient(270deg, #454545, #5050A0, #52B79A);
  background-size: 800% 800%;
  margin-top: -16px;
  margin-bottom: -16px; }

.main-container-inner {
  margin: 0 auto;
  background-color: white;
  max-width: calc(100% - 4em);
  width: 70em;
  box-shadow: 0 0 15px #000;
  -moz-box-shadow: 0 0 15px #000;
  -webkit-box-shadow: 0 0 10px #000; }

@-webkit-keyframes MainContainerWrapperAnimation {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

@-moz-keyframes MainContainerWrapperAnimation {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

@keyframes MainContainerWrapperAnimation {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

/***************
*******Nav******
****************/
.nav-inner {
  margin: 0 auto; }

#nav {
  text-align: center; }

#nav li {
  list-style: none;
  display: inline-block; }

#nav a {
  color: #fff;
  display: block;
  font-family: Nunito;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 9px 18px 9px;
  text-decoration: none; }

#nav a:hover {
  background-color: #fff;
  color: #5050A0;
  border-radius: 10px; }

/***************
*****Header*****
****************/
.header-wrapper {
  margin: 0 auto;
  height: 100vh;
  text-align: center; }

#header-logo-image {
  max-width: 100px; }

.header-text {
  width: 600px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -300px;
  text-align: center; }
  .header-text h1 {
    font-size: 4em;
    color: #fff;
    font-family: Nunito, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.025em; }
  .header-text h2 {
    font-size: 1.25em;
    color: #fff;
    font-family: Nunito, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 5;
    letter-spacing: -0.025em; }

.bounce-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  margin-bottom: 75px;
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.75s;
  -moz-animation-duration: 1.75s;
  -ms-animation-duration: 1.75s;
  animation-duration: 1.75s; }

@-webkit-keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }

@-moz-keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

/***************
*****Footer*****
****************/
ul.footer-icons {
  margin-bottom: -16px; }
